body{
  margin: 0px;

}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: -100; 
  pointer-events: none;
}



.header{
  display: flex;
  min-height: 110px;
  height: 10%;
  width: 100%;
}

.meubtn{
  text-decoration: none;
  display: inline-block;
  background: white;
  padding: 15px 33px;
  border-radius: 20px;
  font-family: "Roboto Slab", serif;
}

.leftHeaderLogo{
  width: 15%;
  padding: 8px;
}

.leftHeader{
  display: flex;
  width: 60%;
  padding: 15px;
  align-items: center;
}

.leftHeader h2{
  color: white;
  font-size: 38px;
}

.leftHeaderLogo img{
  width: 100px;
  height: 100px;
}

.rightHeader{
 width: 30%;
 display: flex;
 padding-right: 30px;
 align-items: center;
 justify-content: space-evenly;
}

.main{
  height: 100vh;
  width: 100%;
}

.content{
  display: flex;
  padding-top: 30px;
  margin-left: 7%;
  height: 50%;
  width: 100%;
  display: flex; 
  font-family: "Roboto Slab", serif;
}
.subContent{
  display: flex;
  height: 250px;
  align-items: center;
  background: rgba(27, 27, 27, 0.61);
  padding: 10px 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px)
}

.subContent h1{
  color: white;
  font-size: 72px;

}

.content h2{
  color: white;
  font-size: 215px;
}


.contentTime{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.countdownContainer {
  background: rgba(27, 27, 27, 0.61); 
  padding: 10px;
  width: 40%;
  height: 45%;
  border-radius: 20px;
  text-align: center;
  color: white;
  backdrop-filter: blur(10px); 
  font-family: "Roboto Slab", serif;
}

.timer {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
}

.box {
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 12px;
  min-width: 100px;
}

.box span {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

.box p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  opacity: 0.8;
}