body{
  margin: 0px;
  box-sizing: border-box;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  isolation: isolate
}

.bg-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: -1;
  pointer-events: none;
  will-change: transform;
  backface-visibility: hidden;
  contain: layout style paint;
}



.header{
  display: flex;
  min-height: 110px;
  height: 10%;
  width: 100%;
  position: relative;
  z-index: 50;
}

.header.scrolled{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(5, 8, 22, 0.95);
  width: 100%;
}

.meubtn{
  text-decoration: none;
  display: inline-block;
  background: white;
  padding: 15px 33px;
  border-radius: 20px;
  font-family: "Roboto Slab", serif;
}

.meubtn:hover{
  border-left: 2px solid rgba(255, 215, 0, 0.8);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.leftHeaderLogo{
  width: 15%;
  padding: 8px;
}

.leftHeader{
  display: flex;
  width: 60%;
  padding: 15px;
  align-items: center;
}

.leftHeader h2{
  color: white;
  font-size: 38px;
}

.leftHeaderLogo img{
  width: 100px;
  height: 100px;
}

.rightHeader{
 width: 30%;
 display: flex;
 padding-right: 38px;
 align-items: center;
 justify-content: end;
}

.main{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.content{
  display: flex;
  padding-top: 50px;
  justify-content: center;
  height: 50%;
  width: 100%;
  display: flex; 
  font-family: 'Kanit', sans-serif; font-weight: 900;
}
.subContent{
  display: flex;
  height: 250px;
  align-items: center;
  background: rgba(27, 27, 27, 0.61);
  padding: 15px 15px;
  border-radius: 20px;
}

.subContent h1{
  color: white;
  font-size: 72px;

}

.content h2{
  color: white;
  font-size: 215px;
}


.contentTime{
  height: 50%;
  width: 100%;
  display: flex;
  padding-left: 5%;
  padding-top: 50px;
}

.countdownContainer {
  background: rgba(27, 27, 27, 0.61); 
  padding: 0px;
  min-width: 400px;
  min-height: 200px;
  width: 20%;
  height: 40%;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-family: "Roboto Slab", serif;
}

.timer {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  justify-content: center;
}

.box {
  background: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 12px;
  min-width: 50px;
}

.box span {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

.box p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  opacity: 0.8;
}

.timelineMain{
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),url(https://i.imgur.com/EJjaeSb.png);
  
}

.timelineSection {
  width: 100%;
  padding: 20px;
  border-top: solid 2px rgba(255, 255, 255, 0.911);
}

.timelineTitle{
  color: white;
  text-align: center;
  font-family: 'Kanit', sans-serif; font-weight: 900;
  font-size: 28px;
}

.timeline{
  display: flex;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.timeline::before{
  content: '';
  position: absolute;
  top: 26px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  z-index: 0;
}

.timeline::after{
  content: '';
  position: absolute;
  top: 26px;
  left: 0px;
  width: 100%;
  height: 2px;
  
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,   
    #fbbf24 45%,                           
    #fbbf24 55%,                 
    rgba(255, 255, 255, 0) 100%  
  );

  background-size: 150px 100%; 
  background-repeat: no-repeat;
  
  filter: drop-shadow(0 0 5px rgba(251, 191, 36, 0.8));
  
  animation: correBrilhoFixa 7s ease-in-out infinite;
  z-index: 1;
}

@keyframes correBrilhoFixa {
  0% {
    background-position: -150px 0;
  }
  100% {
    background-position: 120% 0;    
  }
}

.timelineItem{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-bottom: 10px;
}

.timelineContent{
  width: 90%;
  height: 90%;
  background-color: rgba(27, 27, 27, 0.742);
  padding: 15px;
  border-radius: 20px;
  color: white;
}

.timelineContent:hover{
  background: rgba(27, 27, 27, 0.9);
  border-left: 2px solid rgba(255, 215, 0, 0.8);
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.timelineContent h3{
  font-size: 25px;
  color: #FFD700;
  margin: 0 0 8px 0;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#timelineDate{
  color: white;
  font-size: 15px;
  margin: 5px 0;
  font-weight: bold;
}

#timelineDescription{
  color: rgba(255, 255, 255, 0.7);
  font-size: 19px;
  margin: 8px 0 0 0;
  line-height: 1.4;
}

.timelineMarker {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}

.timelinePoint {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
}

@keyframes pulsarBolinha {
  0%, 20%, 40%, 100% {
    transform: scale(1);
    box-shadow: none;
  }
  30% {
    transform: scale(1.4); 
    box-shadow: 0 0 15px #fbbf24; 
    background-color: #fff; 
  }
}

.timelineItem .timelinePoint, 
.timelineItem .timelineFinalPoint {
  animation: pulsarBolinha 7s infinite; 
}


.timelineItem:nth-child(1) .timelinePoint { animation-delay: 0.2s; }
.timelineItem:nth-child(2) .timelinePoint { animation-delay: 0.9s; }
.timelineItem:nth-child(3) .timelinePoint { animation-delay: 1.7s; }
.timelineItem:nth-child(4) .timelinePoint { animation-delay: 2.5s; }
.timelineItem:nth-child(5) .timelineFinalPoint { animation-delay: 3.2s; }

.timelineFinalPoint {
  width: 16px;
  height: 16px;
  background: rgba(255, 215, 0, 0.8);
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
}


@media (max-width: 1050px) {
  .timeline {
    flex-direction: column;
    padding: 20px 0; 
    align-items: center;
  }

  .timeline::before {
    left: 45px;
    width: 2px;
    height: 90%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  }

  .timelineItem {
    padding-bottom: 20px;
    padding-right: 20px;
    align-items: flex-start; 
    padding-left: 70px;
    width: 100%;
    justify-content: center;
  }

  .timelineMarker {
    position: absolute;
    left: 37px; 
    top: 50px;
  }

  .timeline::after {
    display: none; 
  }
  
  .timelineItem .timelinePoint, 
  .timelineItem .timelineFinalPoint {
    animation: none; 
  }
}